<footer class="bg-gray-800 text-white py-12">
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
                <div>
                    <h3 class="text-xl font-bold mb-4">Personalizarts</h3>
                    <p class="text-gray-400">Conectando marcas à pessoas com qualidade e propósito.</p>
                </div>
                <div>
                    <h4 class="text-lg font-semibold mb-4">Atendimento</h4>
                    <ul class="space-y-2 text-gray-400">
                        <li><i class="fas fa-phone mr-2"></i>(12) 98800-5619</li>
                        <li><i class="fas fa-envelope mr-2"></i>personalizarts.vale@gmail.com</li>
                        <li><i class="fas fa-clock mr-2"></i>Segunda a Sexta: 8h às 20h</li>
                    </ul>
                </div>
                <!--<div>
                    <h4 class="text-lg font-semibold mb-4">Links Úteis</h4>
                    <ul class="space-y-2 text-gray-400">
                        <li><a href="#" class="hover:text-white">Minha Conta</a></li>
                        <li><a href="#" class="hover:text-white">Rastreamento</a></li>
                        <li><a href="#" class="hover:text-white">Política de Troca</a></li>
                        <li><a href="#" class="hover:text-white">Suporte Técnico</a></li>
                    </ul>
                </div>-->
                <div>
                    <h4 class="text-lg font-semibold mb-4">Redes Sociais</h4>
                    <div class="flex space-x-4">
                        <!--<a href="#" class="text-2xl hover:text-blue-400"><i class="fab fa-facebook"></i></a>-->
                        <a href="https://www.instagram.com/personalizarts.vale?igsh=MWE1MDJ3Y3BnMnE1MQ%3D%3D&utm_source=qr" class="text-2xl hover:text-pink-400"><i class="fab fa-instagram"></i></a>
                        <!--<a href="#" class="text-2xl hover:text-green-400"><i class="fab fa-whatsapp"></i></a>
                        <a href="#" class="text-2xl hover:text-blue-400"><i class="fab fa-youtube"></i></a>-->
                    </div>
                </div>
            </div>
            <div class="border-t border-gray-700 mt-8 pt-8 text-center text-gray-400">
                <p>&copy; 2024 PersonalizArts. Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>
