<!-- Menu categorias 
<nav class="bg-white border-t">
  <div class="max-w-7xl mx-auto px-4">
	<ul class="flex justify-center space-x-6 py-2 text-gray-700 font-medium">
	  <li><a href="/" class="hover:text-green-600 text-xl">Principal</a></li>
	  <li><a href="#" class="hover:text-green-600 text-xl">Produtos</a></li>
	  <li><a href="/grafica" class="hover:text-green-600 text-xl">Gráfica</a></li>
	  <li><a href="#" class="hover:text-green-600 text-xl">Brindes</a></li>
	  
	</ul>
  </div>
</nav>
-->